@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&subset=vietnamese');

$white:  #fff !default;
$color333:  #333 !default;
$color888:  #888 !default;
$color222:  #222 !default;
$color444:  #444 !default;
$colorccc:  #ccc !default;

* {
	font-family: "Roboto", Tahoma;
	font-size: 1rem;
}

// fix font size heading
h1 {font-size: 1.5rem;}
h2 {font-size: 1.375rem;}
h3 {font-size: 1.25rem;}
h4 {font-size: 1.125rem;}
h5 {font-size: 1rem;}
h6 {font-size: .875rem;}

a {
  color: $color333;
}
a:active,
a:hover {
  color: $color888;
  text-decoration: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

body {
  background: $color333;
}

.master {
	background: $white;
}

// FOOTER

footer {
	background: $color333;
  padding: .625rem 0;
  text-align: center;
  p {
    margin: 0;
    padding: 0;
    font-size: .813rem;
  }
  a, p, span {
  	color: $white;
  }
}

// END FOOTER

.des {
  line-height: 2;
  table,
  img,
  iframe {
    max-width: 100% !important;
    height: auto !important;
  }
}

.breadcrumb {
  background: transparent;
  &-item {
    font-size: .875rem;
    a, span {
      font-size: .875rem;
    }
  }
}

.search {
  #search {
    min-width: 300px;
    padding: .375rem .313rem;
    line-height: 1.2;
    font-size: .875rem;
    border-color: $color444;
    color: $colorccc;
    background: $color333;
  }
  button {
    padding: .375rem .5rem;
    line-height: 1.2;
  }
}


.logo {
  color: $white;
  font-size: 1.25rem;
}

.menumobile {
	background: $white;
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  left: 0;
  z-index: 9999;
  .menubox {
    overflow-y: auto;
    overflow-x: none;
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    height: 100%;
  }
}
.menuicon {
  font-size: 1.875rem;
}

// NAV BAR

.navbar {
  background: $color222;
  .nav-link {
    color: $white;
    font-size: .875rem;
    text-transform: uppercase;
    &:focus,
    &:hover {
      background-color: $color333;
    }
  }
  a.navbar-brand {
    color: $white;
    font-size: 1.25rem;
  }
  .nav-item {
    margin-left: 1.5rem;
    &+.nav-item {
      margin-left: 1.5rem;
    }
    .dropdown-menu {
      background-color: $white;
      border: 1px solid $white;
      -moz-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
      -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
      box-shadow: 0 6px 12px rgba(0,0,0,0.175);
      margin: 0;
      padding-left: .5rem;
      padding-right: .5rem;
      -webkit-animation-duration: .2s;
      -moz-animation-duration: .2s;
      -ms-transition-animation-duration: .2s;
      .dropdown-item {
        padding: .313rem .625rem;
        font-size: 1rem;
        overflow: hidden;
        &:focus,
        &:hover {
          background-color: #eee;
        }
      }
    }
    .dropdown-mega {
      width: 40rem;
    }
    .dropdown-mega-smaller {
      width: 30rem;
    }
  }
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
}

// END NAV BAR

// pagination

.page-item:first-child .page-link {
  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%;
}
.page-item:last-child .page-link {
  border-bottom-right-radius: 100%;
  border-top-right-radius: 100%;
}
.page-link {
  padding: .813rem 1.125rem;
  font-weight: 500;
}

// END pagination

.book {
  &-info {
    font-size: .875rem;
    span {
      font-size: .875rem;
      font-weight: 500;
    }
    a {
      font-weight: 500;
    }
  }
  &-full,
  &-comming,
  &-first,
  &-last {
    text-transform: uppercase;
    font-weight: 500;
    font-size: .938rem;
  }
  &-tag,
  &-seri {
  	font-size: 1rem;
	  a {
	    font-weight: 500;
	  }
  }
  &-tag {
  	a {
  		background: #eee;
  		&:hover {
  			color: $color888;
  		}
  	}
  }
}

.blockquote {
  font-size: 1rem;
  line-height: 2;
}

.social {
  div {
    vertical-align: middle !important;
  }
}

// FIGURE

.figure-caption {
  font-weight: 500;
  font-size: 1rem;
}

// END FIGURE

.grid-item {
  a {
    position: relative;
    span {
      position: absolute;
      left: .313rem;
      bottom: 2.5rem;
      &:last-child {
        bottom: 1rem;
      }
    }
  }
}

.media {
	margin-top: .313rem;
    margin-bottom: .313rem;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
	&-body {
		h2 {
			a {
				font-size: 1.5rem;
			}
		}
	}
}

// SIDE BAR

.side {
  > h2 {
    font-size: 1.25rem;
    text-transform: uppercase;
    > small {
      font-size: 60%;
    }
  }
  .nav-tabs {
    .nav-link {
      font-weight: 500;
      padding: .5rem 1rem;
    }
  }
  .side-item {
    &-title {
      font-size: 1rem;
      font-weight: 400;
    }
  }
  .media img {
    width: 64px;
    height: 64px;
  }
}

// END SIDE BAR

// SUGGESTION BOX
#suggestion-box{color:#000;display:none;font-family:inherit;border:1px solid #ccc;background:#fff;padding:0;margin:0;-moz-box-shadow: 0 6px 12px rgba(0,0,0,0.175);-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);box-shadow: 0 6px 12px rgba(0,0,0,0.175)}#suggestion-box #no-suggestions{padding:10px}#suggestion-box ul,#suggestion-box ul>li{padding:0;margin:0;border-top:1px dashed #eee}#suggestion-box ul{list-style:none;width:100%;clear:both}#suggestion-box ul>li a{display:block;height:100%;color:inherit;text-decoration:none;padding:5px;font-size:.875rem;font-weight:500}#suggestion-box ul>li a span{font-size:.875rem;font-weight:500}#suggestion-box .selected{background-color:#eee}#suggestion-box #suggestion-header{margin-right:10px;margin-top:5px;font-weight:500;font-size:.813rem;color:#999;text-align:right}

.poies {
  pointer-events: none;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
	body {
	  background: $white;
	}
	a.logo {
	    color: $color333;
	  }
  body,
  .side .side-item-title,
  .table h3 {
    font-size: 1.125rem;
  }
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }
  footer p,
  .btn,
  .breadcrumb-item {
    font-size: 1rem;
    a, span {
      font-size: 1rem;
    }
  }
  .form-inline .input-group {
    width: 100%;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  .search {
    #search {
      min-width: 0;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-color: #ced4da;
      color: #495057;
      background: $white;
    }
    button {
      padding: .375rem .75rem;
      line-height: 1.5;
    }
  }
  .navbar .nav-item .dropdown-mega {
    width: 32rem;
  }
  .navbar-nav .nav-item + .nav-item {
    margin-left: 1.5rem;
  }
  .navbar .nav-link {
    font-size: .875rem;
  }
}

// spinner LOADING
.spinner {
  width: 50px;
  // display: none;
  text-align: center;
}

.spinner > div {
  margin: 0 2px;
  width: 12px;
  height: 12px;
  background-color: #eee;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

// ANIMATE EFFECTS

@-webkit-keyframes fadeInNew {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeInNew {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}
.fadeInNew {
  animation-name: fadeInNew;
}

@-webkit-keyframes fadeInDownNew {
  0% {
    opacity: 0.5;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInDownNew {
  0% {
    opacity: 0.5;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.fadeInDownNew {
  -webkit-animation-name: fadeInDownNew;
          animation-name: fadeInDownNew;
}

@-webkit-keyframes zoomInDownNew {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}
@keyframes zoomInDownNew {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}
.zoomInDownNew {
  animation-name: zoomInDownNew;
}

.fade.in {
    opacity: 1;
}
